.link {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.title {
  flex-grow: 1;
}

.card {
  margin-bottom: 8px;
}

.empty {
  display: flex;
  justify-content: center;

  padding: 80px 20px;
}
